
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="nav-link" routerLink="home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul *ngIf="!authService.isAuthenticated()" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="signin">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="signup">Register</a>
      </li>
    </ul>
    <a *ngIf="authService.isAuthenticated()">Hello, {{authService.user}}!</a>
    <ul *ngIf="authService.isAuthenticated()" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" href="javascript:void(0)">[Logout]</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="article/create">Create Article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="article/my">My Articles</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
